@model IEnumerable<WebApplication9.Model.Employee>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Mobile</th>
    </tr>
    @foreach (var emp in Model)
    {
<tr>
    <td>@emp.ID</td>
    <td>@emp.Name</td>
    <td>@emp.Email</td>
    <td>@emp.Gender</td>
    <td>@emp.Mobile</td>
</tr>
    }
</table>